/*
 * 無所不在學習架構與學習導引機制
 * A Hybrid Ubiquitous Learning Framework and its Navigation Support Mechanism
 * 
 * FileName:	Config.java
 * 
 * Description: 在這邊指定本程式的內定參數
 * 
 */
package tw.edu.chu.csie.dblab.uelearning.android.config;

public class Config {

    // 後端連線 =================================================================================
    /**
     * 後端連線網址
     */
    public static final String REMOTE_BASE_URL = "http://localhost";

    /**
     * 後端API連線網址
     */
    public static final String REMOTE_API_URL = REMOTE_BASE_URL+"/api/v2";

    /**
     * 取得教材網址
     */
    public static final String REMOTE_MATERIAL_URL = REMOTE_BASE_URL+"/Material/DownloadZip.zip";

    /**
     * 取得網際網路輔助系統網址
     */
    public static final String REMOTE_INTERNET_ASSISTANT_URL = "http://localhost/SupportSystem/api";

    // 本機端檔案存取設定 =================================================================================
    /**
     * 此APP專用的存取資料夾路徑
     */
    public static final String APP_DIRECTORY = "CHU-UElearning/";
    /**
     * 下載教材的壓縮檔案名稱
     */
    public static final String ZIP_FILE_NAME_OF_MATERIAL = "/DownloadZip.zip";
    /**
     * 本機教材取得子路徑
     */
    public static final String MATERIAL_DIRECTORY = "Material/";
    /**
     * 本機地圖圖檔子路徑
     */
    public static final String MAP_DIRECTORY = "Material/map/";

    // 除錯區 =================================================================================
    /**
     * 無連線登入模擬
     */
    public static final boolean DEBUG_NO_CONNECT_LOGIN = false;

    /**
     * 在應用程式上顯示詳細錯誤訊息
     */
    public static final boolean DEBUG_SHOW_MESSAGE = false;
    /**
     *  啟用進入測試用的頁面
     */
    public static final boolean DEBUG_ACTIVITY = false;

    // 此應用程式預設設定值 =================================================================================
    /**
     * 此程式是否為學生模式
     */
    public static final boolean STUDENT_MODE = true;

    /**
     *  是否允許未經作答就返回
     */
    public static final boolean LEARNING_BACK_ENABLE = true;
    /**
     *  是否允許離開此程式(尚未實作)
     */
    public static final boolean EXIT_ENABLE = true;

    // 無帳號登入 =================================================================================
    /**
     *  是否啟用自動填入預設帳號密碼
     */
    public static final boolean AUTO_FILL_LOGIN = false;
    /**
     *  預設登入的帳號
     */
    public static final String DEFAULT_LOGIN_ID = "tester";
    /**
     *  預設登入的密碼
     */
    public static final String DEFAULT_LOGIN_PASSWORD = "123456";
    /**
     *  是否啟用自動登入
     */
    public static final boolean AUTO_NO_ID_LOGIN = false;
    /**
     *  前端資料庫名稱
     */
    public static final String CDB_NAME = "chu-elearn.db";
}
